@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    padding:40px 60px;
    margin: auto;
    line-height: 1.5;

}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;

}

.nav-links{
    display: flex;

}

li{
    list-style: none;
    margin-left: 60px;

}

.navbar a{
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    font-weight: 700;
}

.responsive{
    height: 80%;
    width: 80%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;

}

h3{
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 25px;
    color: hsl(243, 87%, 12%);
    
}

 p{
    color:hsl(238, 22%, 44%);
    font-weight: 700;
    margin-bottom: 20px;
    font-size:15px;

}

input{
    padding: 9px;
    
}

.input{
    width: 50%;
    color: hsl(0, 0%, 75%);
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;

}

.button{
    width: 30%;
    margin-left: 10px;
    background: hsl(224, 93%, 58%);
    color: white;
    border-radius: 2px;
    border: transparent;
    font-weight: bold;
}

section .container{
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    padding:40px 60px;
 
    margin-bottom: 0px;
    background-position: center top;
    background-size: cover;
}

section img{
    height: 40%;
    width: 40%;
}

.quote{
    height: 15px;
    width:15px;

}

 section p {
    
    font-size: 14px;
    font-weight: bold;
}

.text{
    width: 45%;
}

section a{
    font-size:14px ;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    
}

.icon-container img{
    height: 20px;
    width: 20px;

}

.icon-container{
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.card{
    
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px ;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar-container{
    display: flex;

}

.avatar-container img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

.avatar-container p{
    font-size: x-small;
}

.avatar-name{
    font-weight: bolder;
    margin-bottom:0px;
}

.footer1 p{
    font-size: 13px;
    color: white;
    
}

footer .container{
    background-color: hsl(238, 22%, 44%);
    padding: 40px 60px;
    margin-bottom: 0;
    height:15rem;
}

.footer1 h2{
    color: white;
    margin-bottom: 10px;
}

.footer1 .input1{
    width: 100%;
    color:hsl(0, 0%, 75%) ;
    border: transparent;
    
}

.inputs{
    display: flex;
    flex-wrap: wrap;
}

.footer1 .input2{
    width: 50%;
    margin-top: 10px;
    border-radius: 2px;
    border: transparent;
    font-weight: bold;
    color: #fff;
    background: hsl(224, 93%, 58%);
    
}

.text p{
    font-weight: normal;
    
}

.footer2 .container{
    background: hsl(243, 87%, 12%);
    height: 18rem;
    
}

.footer2 a{
    text-decoration: none;
    color: #fff;
}

footer .logo-container{
    display: flex;
}

.logo-container img{
    margin-right: 1rem;
}

.footer2 p{
    color: #fff;
}

@media (max-width: 768px) {


    header .container{
        flex-direction:column ;
        text-align: center;
        margin-top: 30px;
        
    }


    img.responsive{
        
        height: auto;
        width: 300px;
    }

   


    .button-container{
        flex-wrap: wrap;
    }

    .get-started{
        width: 50%;
    }

    section .container{
        flex-direction: column;
        text-align: center;
        padding: 0px;
        
    }

    .text{
        margin-top: 20px;
    }

    img.responsive2{
        width: auto;
        height: 250px;
        margin-top: 30px;
    }

    section .card{
        width: 100%;
    
    }

    footer .container{
        flex-direction: column;
        text-align: center;
    }

    .footer1 .container{
        height: 30rem;
        
    }

    .inputs{
        margin-top:5px;
    }

    .footer2 .container{
        height: 30rem;
        align-items: flex-start;
        
    }

    .contact{
        margin-top: 10px;
    }

    .about-us{
        margin: 10px;
    }

    
}