@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    padding:40px 60px;
    margin: auto;
    line-height: 1.5;

}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 60px;
    

}


.nav-links{
    display: flex;
    float:left;

}

li{
    list-style: none;
    margin-left: 60px;

}

.navbar a{
    text-decoration: none;
    color: hsl(238, 22%, 44%);
    font-weight: 700;
}

.navbar .burger{
    width: 32px;
    height:32px;
    margin-right: 0;

}

.responsive{
    height: 80%;
    width: 80%;
}

.container{
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;

}

h3{
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 25px;
    color: hsl(243, 87%, 12%);
    
}

 p{
    color:hsl(238, 22%, 44%);
    font-weight: 700;
    margin-bottom: 20px;
    font-size:15px;

}

input{
    padding: 9px;
    
}

.input{
    width: 50%;
    color: hsl(0, 0%, 75%);
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 2px;

}

.button{
    width: 30%;
    margin-left: 10px;
    background: hsl(224, 93%, 58%);
    color: white;
    border-radius: 2px;
    border: transparent;
    font-weight: bold;
}

section .container{
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    padding: 40px 60px;
   
 
    margin-bottom: 0px;
    background-position: center top;
    background-size: cover;
}

section img{
    height: 40%;
    width: 40%;
}

.quote{
    height: 15px;
    width:15px;

}

 section p {
    
    font-size: 14px;
    font-weight: bold;
}

section a{
    font-size:14px ;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    
}

.icon-container img{
    height: 20px;
    width: 20px;

}

.icon-container{
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.card{
    
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px ;
    width: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar-container{
    display: flex;

}

.avatar-container img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;

}

.avatar-container p{
    font-size: x-small;
}

.avatar-name{
    font-weight: bolder;
    margin-bottom:0px;
}

.footer1 p{
    font-size: 13px;
    color: white;
    
}

footer .container{
    background-color: hsl(238, 22%, 44%);
    padding: 40px 60px;
    margin-bottom: 0;
    height:15rem;
}


.footer1 h2{
    color: white;
    margin-bottom: 10px;
}

.footer1 .input1{
    width: 100%;
    color:hsl(0, 0%, 75%) ;
    border: transparent;
    
}



.footer1 .input2{
    width: 50%;
    margin-top: 10px;
    border-radius: 2px;
    border: transparent;
    font-weight: bold;
    color: #fff;
    background: hsl(224, 93%, 58%);
    
}

.text p{
    font-weight: normal;
    
}

.footer2 .container{
    background: hsl(243, 87%, 12%);
    height: 18rem;
    
}

.footer2 a{
    text-decoration: none;
    color: #fff;
}

footer .logo-container{
    display: flex;
}

.logo-container img{
    margin-right: 1rem;
}

.footer2 p{
    color: #fff;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.modal-content{
    width: 500px;
    height: auto;
    background-color: #fff;
    border-radius:5px;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 20px;
}

.modal-content img{
    width:20%;
    margin-top: 30px;
}

.modal-content input{
    display: block;
    margin: 30px auto;
    width: 80%;
    height: 40px;
}

form{
    font-family: 'Open Sans', sans-serif;

}

.modal-content button{
    background: hsl(224, 93%, 58%);
    border: transparent;
    padding:15px;
    width: 30%;
    border-radius:30px 30px;
    float: left;
    color:#fff;
    font-weight: bold;
    margin-left: 37px;
    }

.modal-content button:hover{
    background-color: hsl(243, 87%, 12%);
    color:#fff ;
    font-weight: bold;
    transition: all 0.5s;
}

.close{
    position: absolute;
    right:14px;
    font-size:42px;
    transform: rotate(45deg);
    cursor: pointer;
}





















@media (max-width: 768px) {

    .body{
        padding: 0;
    }

  .navbar .container{
      display: flex;
      justify-content: space-between;
      
      padding: 30px;
  }
    
    .nav-links{
        display: none;
    }

    .burger{
        display: block;
        
    }


    img.responsive{
        
        height: auto;
        width: 300px;
    }

    header .container{
        flex-direction:column ;
        text-align: center;
        margin-top: 30px;
        padding: 30px;
        
    }

    .div1 .get-started{
        display: none;
    }

    .div1 .hidden-button{
        display: block;
    }

    .div1 img{
        margin-bottom: 40px;
    }
    
    .div1:nth-of-type(3){
        order: 1;
      
    }

    .div1:nth-of-type(1){
        order: 2;
    
    }

    section .container{
        flex-direction: column;
        text-align: center;
        padding: 30px;
        
        
    }

    section .icon-container{
        justify-content: center;
    }

    .card{
        width: 80%;
        text-align: left;
        margin-bottom: 40px;
        
    }

    .text{
        margin-top: 20px;
    }

    img.responsive2{
       display: none;
    }



    footer .container{
        flex-direction: column;
        text-align: center;
    }

    .footer1 .container{
        height: 22rem;
        
    }

    .inputs{
        margin-top:0;
    }

    .footer2 .container{
        height: 30rem;
        text-align: left;
        
    }

    .about-us{
        align-items: flex-start;
    }

    .contact{
        margin-top: 10px;
    }

    
}